* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #8dcdee;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.divImage, .description {
    padding: 50px 40px;
}

.image {
    max-height: 500px;
    width: auto;
}

.description {
    height: 50%;
    width: 205px;
}

.bold {
    text-align: center;
    font-weight: bold;
}

.buy_button, .buy_button2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy_button > a {
    padding: 5px;
    border: 1px solid black;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.buy_button2 > a {
    padding: 5px;
    border: 1px solid black;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

a:hover{
    background-color: #008BD2;
    color: #FEFEFE;
}

.buying {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

footer {
    text-align: center;
}