* {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #8dcdee;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.container_final {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 7.5px auto;
    max-width: 400px;
    min-width: 330px;
}

.description {
    text-align: center;
    margin: 7.5px auto;
    max-width: 400px;
    min-width: 330px;
}

.purchase_order {
    font-weight: bold;
    border: 1px solid black;
    border-radius: 10px;
    margin: 7.5px auto;
    padding: 5px;
    max-width: 400px;
    min-width: 330px;
}

.container_status {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 10px;
    margin: 7.5px auto;
    padding: 5px;
    max-width: 400px;
    min-width: 330px;
}

.status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
}

.details {
    margin: 5px;
    padding: 5px;
}

.details > p {
    margin: 1px;
    padding: 2px;
    font-weight: bold;
}

.details > p > span {
    font-weight: normal;
}

.divImage, .description_shirt {
    padding: 50px 40px;
}

.image {
    max-height: 500px;
    width: auto;
}

.description_shirt {
    height: 50%;
    width: 205px;
}

.bold {
    text-align: center;
    font-weight: bold;
}

.buy_button, .buy_button2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy_button > a {
    padding: 5px;
    border: 1px solid black;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

.buy_button2 {
    padding: 5px;
    border: 1px solid black;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    font-size: 15px;
}

a:hover, .buy_button2:hover{
    background-color: #008BD2;
    color: #FEFEFE;
}

.buying {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

footer {
    text-align: center;
}